    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilia Cole - About</title>
        <link rel="shorcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32"/>
        <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body class="body_about">
        <header>
            <nav id="top_about">
                
                 <ul class="links_about">
                    <li><a href="/">| HOME </a></li>
                    <li><a href="/about">| ABOUT </a></li>
                    <li><a href="/music">| MUSIC </a></li>
                    <li><a href="/contact">| CONTACT |</a></li>
                 </ul>
                
            </nav>
            <ul class="redes_about">
                <li><a href="https://twitter.com/"target = '_blank'><i class="fa-brands fa-x-twitter" style="color:black"></i></a></li>
                <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color:black"></i></a></li>
                <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify " style="color:black"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color:black"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color:black"></i></a></li>
                <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram" style="color:black"></i></a></li>
            </ul>
        </header>
        <section>
            <article class="texto_about">
            <h1>ABOUT<br>EMILIA // </h1>
            <h3>"Seattle-based pop star makes her<br> indie debut with a hauntingly beautiful album"</h3>
            <h5>- John Tirckle, Music Today Post</h5>
            <h3>"Emilia Cole is one of the <br>scene's breakout stars"</h3>
            <h5>- John Tirckle, Music Today Post </h5>
        </article>
 
    </section>
        </body>
    </html>    