<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shorcut icon" href="/img/icon/favicon.ico"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/music">MUSIC</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </ul>
        </nav>
        <ul>
            <li><a href="ht"target = '_blank'></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </header>
    <section>
        <h3>EMILIA<br></h3>
    </section>
</body>
</html>