<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shorcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32"/>
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="body_index">
    <header>
        <nav>
             <ul class= "links_index">
                 <li><a class="nav"  href="/">HOME</a></li>
                 <li><a class="nav"  href="/about">ABOUT</a></li>
                 <li><a class="nav"  href="/music">MUSIC</a></li>
                 <li><a class="nav"  href="/contact">CONTACT</a></li>
             </ul>
            
        </nav>
        <ul class="redes_index" >
            <li><a href="https://twitter.com/"target = '_blank'><i class="fa-brands fa-x-twitter" style="color:black"></i></a></li>
            <li><a href="https://facebook.com/"><i class="fa-brands fa-facebook" style="color:black"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify " style="color:black"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color:black"></i></a></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color:black"></i></a></li>
            <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram" style="color:black"></i></a></li>
        </ul>
    </header>
    <section class="emilia">
        <div>
            <h3>EMILIA<br> COLE //<br></h3>
        </div>
            
        <div class="twist">
            <h1>TWIST IN MY REALITY</h1>
        </div>
            
        
        
    </section>

</body>
</html>