<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shorcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32"/>
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/music">MUSIC</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/"target = '_blank'><i class="fa-brands fa-x-twitter" style="color:black"></i></a></li>
            <li><a href="https://facebook.com/"><i class="fa-brands fa-facebook" style="color:black"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify " style="color:black"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color:black"></i></a></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color:black"></i></a></li>
            <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram" style="color:black"></i></a></li>
        </ul>
    </header>
    <section>
        <article>
            <h3>EMILIA<br> COLE //<br></h3>
        </article>
        
        <article>
            <h1>TWIST IN MY REALITY</h1>
        </article>
        <img src="/img/emilia-home.jpg"
    </section>

</body>
</html>