<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Music</title>
    <link rel="shorcut icon" href="/img/icon/favicon.ico" sizes="16x16 32x32"/>
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
        <img src="/img/emilia-music-top.jpg" width="1440" height="100" alt="background header music section">
        <nav>
            <ul>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/music">MUSIC</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/"target = '_blank'><i class="fa-brands fa-x-twitter" style="color:black"></i></a></li>
            <li><a href="https://facebook.com/"><i class="fa-brands fa-facebook" style="color:black"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"><i class="fa-brands fa-spotify " style="color:black"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color:black"></i></a></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color:black"></i></a></li>
            <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram" style="color:black"></i></a></li>
        </ul>
    </header>
    <section>
       
            <h1>MUSIC //</h1>
        
        <article>
            <h4>Direct links</h4>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#video1">Video:Organic Love</a></li>
                <li><a href="#video2">Video:Street Light</a></li>
            </ul>
        </article>
       <article>
        <h3 id ="album">ALBUM <br> TWIST IN MY REALITY</h3>
        
        <img src="/img/emilia-play-list.png" alt="tapa del disco">
        <ol>
            <li>►Organic Love</li>
            <li>►Twist In My Reality</li>
            <li>►Street Light</li>
            <li>►Love Don´t Live Here Anymore(Cover)</li>
        </ol>
        <a href="#top">Go Top</a>
           </article>
           <article id="video1">
            <h3>VIDEO <br> ORGANIC LOVE</h3>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART, <br> Wix Films LTD
                </p>
                <a href="#top">Go Top</a>
           </article>

           <article id="video2">
            <h3>VIDEO <br> STREET LIGHT</h3>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART, <br> Wix Films LTD
            </p>
            <a href="#top">Go Top</a>
           </article>
    </section>
</body>
</html>